<div class="queries-container">
  <div class="queries-button-item">
    <ul class="button-list">
      <li><span><button (click)="onQueriesClick()">Get All Contacts</button></span><span>query with no param</span></li>
      <li><span><button (click)="onOrderByContactFNQueryClick()">Sort Contacts By FirstName</button></span><span>use orderby</span></li>
      <li><span><button (click)="onMaleContactsQueryClick()">Get Male Contacts</button></span><span>use where</span></li>
    </ul>
  </div>
  <div class="queries-result-item">
    <ul>
      <li *ngFor="let contact of contacts">
        {{ contact.FirstName }}st
      </li>
    </ul>
  </div>
</div>
